<%= currently_at "Questions" %>
<% provide :page_title, "#{@question.title}" %>

<h1 class="mb-4">
  <%= @question.title%>
</h1>

<div class="lead my-3">
  <%= sanitize @question.body %>
  <br>
  <time datetime="<%= @question.formated_created_at %>">
    <%= @question.formated_created_at %>
  </time>
</div>

<div>
  <%= link_to "Edit", edit_question_path(@question), class: "btn btn-primary" %>
  <%= link_to "Delete", question_path(@question), class: "btn btn-danger", data: {turbo_method: :delete, confirm: "Are you sure?"} %>
</div>

<hr class="my-3">

<%= render "answers/form", params: { verb: "Submit"} %>

<h2 class="mb-5">Answers</h2>

<%== pagy_bootstrap_nav @pagy %>

<%= render partial: "answers/answer", collection: @answers, as: :answer, locals: {question: @question} %>
